<header>
    <h1>A simple Thread.Sleep() wrapper to use from your JavaScript code</h1>
</header>
<p>Assuming the use of jQuery, call like this:</p>
<section id="readme"></section>
<h3>Try out now</h3>
<input value="1000" />
<button>Click to wait</button>
<h3>Activities log</h3>
<p>Log entries appear in reverse order, i.e. the most recent ones at the top:</p>
<ul id="log"></ul>
@section scripts {
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="/scripts/jquery.sleepy.js"></script>
@Scripts.Render("~/bundles/pagedown")
<script>
    $(function () {
        function pad(n) { return n < 10 ? "0" + n : n; }

        function log(msg) {
            var d = new Date();
            date = pad(d.getHours()) + ":"
                  + pad(d.getMinutes()) + ":"
                  + pad(d.getSeconds()) + "."
                  + pad(d.getMilliseconds());
            msg = date + " - " + (msg ? msg : "");
            if (window.console && console.log) {
                console.log(msg);
            }
            $("#log").prepend("<li>" + msg + "</li>");
        }

        $("button").on("click", function (ev) {
            ev.preventDefault();
            log("start of click handler");
            $.ajax({
                url: "/sleep/" + $("input").val(),
                async: false
            }).done(function (data) {
                log("returned from server with: " + JSON.stringify(data));
            });
            log("end of click handler");
            log("~~~~~~~~~~~~~~~~~~~~~~~~~~~~");
        });

        // include current README.md
        $.get("/readme")
            .done(function (data) {
                var converter = new Markdown.Converter();
                var html = converter.makeHtml(data);
                $('#readme').html(html);
            });
    })
</script>
}